{% extends "body.html" %}
{% block content %}
<div id="content" class="container mt-5">
        <h2 class="mt-4 text-center">Address 주소록 리스트 (데이터 개수 : {{address_count}})</h2>
        <div class="row">
            <!--상단 끝-->
            <table class="table table-striped mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>번호</th>
                        <th>이름</th>
                        <th>전화번호</th>
                        <th>이메일</th>
                        <th>주소</th>
                    </tr>
                </thead>
                <tbody id="target">
                    <!-- 데이터 루프 시작 -->
                    {% for i in items %}
                    <tr>
                        <td>{{i.idx}}</td>
                        <td><a href="detail?idx={{i.idx}}">{{i.name}}</a></td>
                        <td>{{i.tel}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.address}}</td>
                    </tr>
                    {% endfor %}
                    <!-- 데이터 루프 끝 -->
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">
                            <input type="button" value="등록하러가기" id="addBtn" style="margin-top: 20px; float: right;">
                        </th>
                    </tr>
                </tfoot>
            </table>
            <!--하단 시작-->
        </div>
    </div>
    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    tbody tr:hover {background-color: coral; cursor:pointer}
    </style>
    <script>
        $(function(){
            $('#addBtn').click(function(){
                location = 'write';
            });
        });
    </script>
{% endblock content %}